
{% if r201 %}
    <li><a>201</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r201 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list1 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


    <li><a>202</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r202 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list2 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>203</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r203 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list3 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>204</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r204 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list4 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>205</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r205 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list5 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>206</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r206 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list6 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>207</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r207 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list7 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>208</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r208 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list8 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>209</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r209 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list9 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>210</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r210 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list10 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>211</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r211 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list11 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>212</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r212 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list12 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>213</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r213 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list13 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>214</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r214 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list14 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>215</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r215 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list15 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>216</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r216 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list16 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>217</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r217 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list17 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>218</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r218 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list18 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


     <li><a>101</a></li>
        <ul>
            <div style="float: left;">
        {% for person in r101 %}
            <li><a href="/home/{{ person.id }}/">{{ person.person_text }}</a>&nbsp;&nbsp;&nbsp;</li>
        {% endfor %}
                <br><br>
        </ul>
            {% for i in list19 %}
                <li><a>{{ i }}</a></li>
            {% endfor %}
        <br><br>


{% else %}
    <p>No person are available.</p>
{% endif %}

